
@{
    ViewBag.Title = "Home";
}
<script>
     $("button").on("click", function () {
             @Html.ActionLink("Home","Create")
         //$.ajax({
           //  url: "Home.Create",
        // });
    });
</script>
   


    
<h2>Home</h2>
<p>
    <b> Welcome to fittApp. The high tech weight loss app.</b> 
</p>
<div>
    <p>
        If you are a new user click here to get started
    </p>
    <button>Create new account</button>
</div>



