
@{
    ViewBag.Title = "Home";
}
<script>
     $("button").on("click", function () {
             @Html.ActionLink("Home","Create")
         //$.ajax({
           //  url: "Home.Create",
        // });
    });
</script>
   



<h2>Home</h2>

<p>
    <b> Welcome to fittApp. The high tech weight loss app.</b>
   
</p>
<p>
    <b>
        If you are a new user type home/create in your browser bar.
        Otherwise type home/login
    </b>
</p>