
@{

    ViewBag.Title = "Home page";
}

<h1>FittApp</h1>

<p>
    <b> Welcome to fittApp. The high tech weight loss app.</b>
</p>
<div>
    <p>
        <b>
            If you are a new user please click here
        </b>
    </p>
    @Html.ActionLink("Add User", "Create","User")
</div>


<p>
    <b>
        If you have a account click here
    </b>
    @Html.ActionLink("Login", "Login","User")
</p>