
@{

    ViewBag.Title = "Home page";
}

<h1>FitnessApp</h1>

<p>
    <b> Welcome to fitness app. The weight loss app.</b>
</p>
<div>
    <p>
        <b>
            If you are a new user please click @Html.ActionLink("here", "Create", "User")
        </b>
    </p>
   
</div>

<div>
   <p>
       <b>
           If you have a account please click here @Html.ActionLink("here", "Login", "User")
       </b>
  </p>

    
</div>
