
@{

    ViewBag.Title = "Home page";
}

<h1>Fitness App</h1>

<p>
    <b> Welcome to Fitness App, the weight loss app.</b>
    <br/>
    This app will help you achieve your goal of losing weight by warning you when you are too close to an eatery you frequent so you can stay clear of it.
</p>
<div>
    <p>
        <b>
            If you are a new user please click @Html.ActionLink("here", "Create", "User")
        </b>
    </p>
   
</div>

<div>
   <p>
       <b>
           If you have a account please click here @Html.ActionLink("here", "Login", "User")
       </b>
  </p>

    
</div>
